<div class="footer__inner">
  <div class="footer__contact">
    <div class="footer__title">
      Let's Get in Touch!<br />If you've made it this far, we should definitely
      talk!
    </div>
    <ul class="footer__links">
      <li>
        <a
          class="footer__link btn btn-link"
          href="https://www.linkedin.com/in/imjin/"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          class="footer__link btn btn-link"
          href="https://instagram.com/imjin_0.0"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li>
        <a class="footer__link btn btn-link" href="mailto:hello@studioimjin.com"
          >Email</a
        >
      </li>
    </ul>
  </div>

  <div class="footer__meta pc-only">
    <p class="footer__credit">
      Designed and coded by Jinkyeong Lim<br />
      © 2025 Jinkyeong Lim
    </p>
  </div>
</div>
