<div class="header__inner">
  <nav class="pc-only">
    <ul class="header__menu">
      <li class="header__item"><a class="nav__link" href="/">WORK</a></li>
      <li class="header__item">
        <a class="nav__link" href="/playground/">PLAYGROUND</a>
      </li>
      <li class="header__item">
        <a class="nav__link" href="/info/">INFO</a>
      </li>
      <li class="header__item">
        <a
          class="header__link"
          href="/files/JinkyeongLim_Resume.pdf"
          target="_blank"
          rel="noopener"
          type="application/pdf"
          aria-label="Open resume PDF in a new tab"
          >RESUME</a
        >
      </li>
    </ul>
  </nav>

  <div class="logo"><a href="/">JINKYEONG LIM</a></div>

  <ul class="header__contact pc-only">
    <li>
      <a
        href="https://www.linkedin.com/in/imjin/"
        target="_blank"
        aria-label="LinkedIn"
      >
        <img src="/images/ico/linkedin.svg" alt="" />
      </a>
    </li>
    <li>
      <a
        href="https://instagram.com/imjin_0.0"
        target="_blank"
        aria-label="Instagram"
      >
        <img src="/images/ico/instagram.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="mailto:imjin.work@gmail.com" aria-label="Email">
        <img src="/images/ico/envelope.svg" alt="" />
      </a>
    </li>
  </ul>

  <!-- Mobile -->
  <div class="header__toggle mo-only">
    <button class="menu-toggle" aria-label="Open menu">
      <img src="/images/ico/menu.svg" alt="" />
    </button>
  </div>
</div>

<!-- Mobile Menu -->
<div class="header-mo mo-only">
  <button class="menu-toggle" aria-label="Close menu">
    <img src="/images/ico/close.svg" alt="" />
  </button>

  <div class="logo"><a href="/">JINKYEONG LIM</a></div>

  <nav class="header-mo__menu">
    <ul>
      <li class="header-mo__item">
        <a class="link" href="/">WORK</a>
      </li>
      <li class="header-mo__item">
        <a class="link" href="/playground/">PLAYGROUND</a>
      </li>
      <li class="header-mo__item">
        <a class="link" href="/info/">INFO</a>
      </li>

      <li class="header-mo__item">
        <a
          class="link"
          href="/files/JinkyeongLim_Resume.pdf"
          target="_blank"
          rel="noopener"
          type="application/pdf"
          aria-label="Open resume PDF in a new tab"
          >RESUME</a
        >
      </li>
    </ul>
  </nav>

  <div class="header-mo__info">
    <ul class="header-mo__contact">
      <li>
        <a
          href="https://www.linkedin.com/in/imjin/"
          target="_blank"
          aria-label="LinkedIn"
        >
          <img src="/images/ico/linkedin.svg" alt="" />
        </a>
      </li>
      <li>
        <a
          href="https://instagram.com/imjin_0.0"
          target="_blank"
          aria-label="Instagram"
        >
          <img src="/images/ico/instagram.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="mailto:imjin.work@gmail.com" aria-label="Email">
          <img src="/images/ico/envelope.svg" alt="" />
        </a>
      </li>
    </ul>
    <div class="header-mo__credit">
      Designed and coded by Jinkyeong Lim<br />
      © 2025 Jinkyeong Lim
    </div>
  </div>
</div>
