@use "../abstracts" as *;

// 공통
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* 텍스트 선택 시 스타일 적용 */
::selection {
  background: $green !important;
  color: $black !important;
}

/* Firefox 브라우저 호환성을 위한 추가 스타일 */
::-moz-selection {
  background: $green !important;
  color: $black !important;
}

// 메인 페이지 : Work
#main {
  padding-top: var(--pag-top);
}

#intro {
  margin-bottom: rem(60);

  .intro {
    &__head {
      width: 80%;
      max-width: rem(820);

      @include mobile {
        width: unset;
      }

      h1 {
        margin-bottom: rem(60);
      }
    }

    &__scroll {
      @include txt(var(--h4-size), 1.4);
      color: $grey;

      @include mobile {
        font-size: var(--body-sm-size);
      }

      &::after {
        content: "";
        display: block;
        width: rem(14);
        height: rem(14);
        margin-left: rem(10);
        @include bg("ico/arrow-bottom-grey.svg", center, center, contain);
      }
    }
  }
}

#work {
  .work {
    padding: rem(60) var(--pag-hor-sm, rem(30));
  }
}
