@use "../abstracts" as *;

#footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // z-index: 1000;

  .footer {
    &__inner {
      @include flex(space-between, flex-end);
      position: relative;
      width: 100%;
      height: rem(200);
      margin: 0 auto;
      padding: 0 var(--pag-hor-sm) rem(20);
      box-sizing: border-box;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 10%, #fff 60%);
      pointer-events: none;

      @include mobile {
        @include flex-col(flex-end);
      }
    }

    &__title {
      @include txt(var(--body-md-size), 1.4, 500);
      margin-bottom: rem(30);
      pointer-events: auto;
    }

    &__links {
      @include flex(flex-start, center, rem(30));
      pointer-events: auto;
    }

    &__credit {
      @include txt(var(--caption-md-size), 1.5, 600);
      color: $grey;
      text-align: right;
    }
  }
}
