@use "../abstracts" as *;

.layout-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: rem(24);
  row-gap: rem(80);
  align-items: start;

  /* span */
  @for $i from 1 through 12 {
    .col-#{$i} {
      grid-column: span #{$i};
    }
  }

  /* start(시작열) */
  @for $i from 1 through 12 {
    .start-#{$i} {
      grid-column-start: #{$i};
    }
  }

  /* end span (start + span 조합용) */
  @for $i from 1 through 12 {
    .span-#{$i} {
      grid-column-end: span #{$i};
    }
  }

  /* ---- 반응형: 태블릿=6col, 모바일=4/12col 중 택1 ---- */
  @include tablet {
    & {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    @for $i from 1 through 8 {
      .md\:col-#{$i} {
        grid-column: span #{$i};
      }
    }
    @for $i from 1 through 8 {
      .md\:start-#{$i} {
        grid-column-start: #{$i};
      }
    }
    @for $i from 1 through 8 {
      .md\:span-#{$i} {
        grid-column-end: span #{$i};
      }
    }

    /* md에서 전폭으로 쌓기(2단 → 수직 나열) */
    .md\:full {
      grid-column: 1 / -1;
    }
  }

  /* ---- 모바일: 6col + 모든 아이템 전폭(기존 span/start/col 무시) ---- */
  @include mobile {
    & {
      grid-template-columns: repeat(6, minmax(0, 1fr));
      column-gap: rem(12);
      row-gap: rem(60);
    }

    > *,
    > [class*="col-"],
    > [class*="start-"],
    > [class*="span-"],
    > [class*="md\\:"],
    > [class*="sm\\:"] {
      grid-column: 1 / -1 !important;
      justify-self: stretch;
      width: auto;
      max-width: 100%;
    }
  }
}
