@use "../abstracts" as *;

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .header {
    &__inner {
      @include flex(space-between, center);
      position: relative;
      width: 100%;
      margin: 0 auto;
      padding: rem(15) var(--pag-hor-sm) 0;
      box-sizing: border-box;

      a {
        @include txt(var(--body-md-size), 1, 600);
        color: $black;
        text-decoration: none;
        transition: filter 0.28s ease;

        &:hover {
          filter: blur(1px);
        }
      }

      .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mobile {
          position: relative;
          left: unset;
          transform: unset;
        }
      }
    }

    &__menu {
      @include flex(space-between, flex-end, rem(20));
    }

    &__contact {
      @include flex(flex-end, center, rem(15));
    }
  }

  /* ----- Theme ----- */
  &[data-theme="dark"] {
    .header__inner a,
    .logo a {
      color: $white;
    }

    .header__contact img,
    .header__toggle img {
      filter: invert(1) brightness(1.2);
    }
  }

  /* ----- Mobile ----- */
  .header-mo {
    @include flex-col(flex-start, flex-start, rem(30));
    padding: rem(100) var(--pag-hor-sm) rem(20);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    background: rgba($white, 0.6);
    -webkit-backdrop-filter: blur(12px) saturate(120%);
    backdrop-filter: blur(12px) saturate(120%);
    z-index: 999;

    .logo {
      position: absolute;
      top: rem(15);
      left: var(--pag-hor-sm);

      a {
        @include txt(var(--body-md-size), 1, 600);
        color: $black;
      }
    }

    @supports not (
      (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
    ) {
      background: rgba($white, 0.95);
    }

    @include mobile {
      display: flex !important;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }

    &.active {
      max-height: 100vh;
      opacity: 1;
      pointer-events: auto;
    }

    .menu-toggle {
      position: absolute;
      top: rem(15);
      right: rem(15);
    }

    &__item {
      margin-bottom: rem(20);

      .link {
        @include txt(var(--h1-size), 1);
        color: inherit;
      }
    }

    &__info {
      @include flex(space-between, flex-end);
      width: 100%;
      margin-top: auto;
    }

    &__contact {
      @include flex(flex-start, center, rem(20));
      a {
        display: inline-flex;
        width: rem(24);
        height: rem(24);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }

    &__credit {
      @include txt(var(--caption-sm-size), 1.2, 600);
      color: $grey;
      text-align: right;
    }
  }
}
