@use '../abstracts' as *;

.box {
    &-txt {
        // border: 1px solid $greye1;
        text-align: center;
        padding: rem(18);
        font-size: rem(16);
        font-weight: 700;
        line-height: rem(23);
        letter-spacing: rem(-0.5);
        // color: $grey33;
    }

    &-basic {
        background-color: $white;
        // border: 1px solid $greye1;
        padding: rem(40);

        .btn-group {
            @include mobile {
                display: flex;
                gap: rem(10);
                flex-direction: column;

                button {
                    width: 100%;
                    margin: 0;
                }
            }

            @include tablet {
                display: flex;
                gap: rem(10);

                button {
                    flex: 1;
                    margin: 0;
                }
            }
        }
    }
}